!.ipynb
*.pdf
*.json
*.png
*.jpg
*-00010
*.xml
*.py
*.pyc
*.txt
*.gz
*.zip
*.sh
*.pth
*-00001
*.index
*.meta
*.config
README
_DS_Store
*.mat
*.pb
*.so
*.pyx
*.c
電腦視覺深度學習基礎/ssd_mobilenet_v1_coco_2018_01_28/checkpoint
*._trimaps
*.DS_Store
電腦視覺深度學習基礎/Object Detection 程式導讀/Build RetinaNet.ipynb
電腦視覺深度學習基礎/Object Detection 程式導讀/輸入資料型態.ipynb
*.ipynb_checkpoints*
電腦視覺深度學習基礎/Object Detection 程式導讀/demo/demo.ipynb
電腦視覺深度學習基礎/Object Detection 程式導讀/layers/functions/Focal_loss.ipynb
*/cocoapi/
*/models/
